.track {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.track_info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.track_info h4 {
    color: white;
}

.track_info h6 {
    color: #b3b3b3;
}