.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
}

.navbar-main {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.img-arrow-left {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 2rem;
    background-color: #000000;
    cursor: pointer;
}

.img-arrow-right {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 2rem;
    background-color: #000000;
    cursor: pointer;
}

.navbar-part {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-explore {
    display: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    color: 15px;
}

@media (min-width: 768px) {
    .navbar-explore {
        display: block;
    }
}

.navbar-app {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1rem;
    background-color: #000000;
    cursor: pointer;
    color: 15px;
}

.navbar-user {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    color: #000000;
    background-color: #8B5CF6;
}

.navbar-sub {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    align-items: center;
}

.all {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.music {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #000000;
    cursor: pointer;
}

.podcasts {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #000000;
    cursor: pointer;
}