.container {
    height: 100%;
    overflow: hidden;
}

.playlist-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 52vh;
    max-height: 100%;
    overflow: auto;
}

.playlist-list::-webkit-scrollbar {
    width: 0.7rem;
}

.playlist-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
}

.playlist-list li {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.playlist-list li:hover {
    color: white;
}