.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container svg {
    color: #b3b3b3;
    transition: 0.2s ease-in-out;
}

.container svg:hover {
    color: white;
}

.state svg {
    color: white;
}

.previous,
.next,
.state {
    font-size: 2rem;
}