.discover-main {
    display: flex;
    flex-direction: column;
}

.discover-sub {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: 640px) {
        flex-direction: row;
    }
}

.discover-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.select-genre {
    padding: 0.75rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    outline-style: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #D1D5DB;
    background-color: #000000;

    @media (min-width: 640px) {
        margin-top: 0;
    }
}

.songs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    @media (min-width: 640px) {
        justify-content: flex-start;
    }
}