.song-details {
    display: flex;
    flex-direction: column;
}

.details-main {
    margin-bottom: 2.5rem;
}

.details-lyrics {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #ffffff;
}

.lyrics {
    margin-top: 1.25rem;
}

.lyrics-line {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9CA3AF;
}

.no-lyrics {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9CA3AF;
}