.error-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-message {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #ffffff;
}