.related-songs-main {
    display: flex;
    flex-direction: column;
}

.related-songs-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #ffffff;
}

.related-songs-result {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    width: 100%;
}