.search-main {
    padding: 0.5rem;
    color: #9CA3AF;
}

.search-main:focus-within {
    color: #4B5563;
}

.search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.searchBar-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-icon {
    margin-left: 1rem;
    width: 1.25rem;
    height: 1.25rem;
}

.search-input input {
    padding: 1rem;
    flex: 1 1 0%;
    border-style: none;
    outline-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    background-color: transparent;
}

.search-input input::placeholder {
    color: #6B7280;
}