.navlinks {
    margin-top: 2.5rem;
}

.nav-link {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #9CA3AF;
}

.nav-link-item {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-main {
    display: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    flex-direction: column;
    width: 240px;
    background: #191624;


    @media (min-width: 768px) {
        display: flex;
    }
}

.sidebar-img img {
    object-fit: contain;
    width: 100%;
    height: 3.5rem;
}

.sidebar-menu {
    display: block;
    position: absolute;
    right: 0.75rem;
    top: 1.5rem;


    @media (min-width: 768px) {
        display: none;
    }
}

.cross-icon {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #ffffff;
}

.menu-icon {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #ffffff;
}

.sidebar-end {
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 1.5rem;
    width: 66.666667%;
    height: 100vh;
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));
    backdrop-filter: blur(16px);


    @media (min-width: 768px) {
        display: none;
    }
}

.sidebar-logo img {
    object-fit: contain;
    width: 100%;
    height: 3.5rem;
}