.sidebar {
    display: flex;
    position: relative;
}

.searchbar {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    background-color: #000000;
}

.routes {
    display: flex;
    overflow-y: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column-reverse;
    height: calc(100vh-72px);

    @media (min-width: 1280px) {
        flex-direction: row;
    }
}

.sub-routes {
    padding-bottom: 10rem;
    flex: 1 1 0%;
    height: fit-content;
}

.top-play {
    position: relative;
    top: 0;
    height: fit-content;

    @media (min-width: 1280px) {
        position: sticky;
    }
}

.music-player {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 7rem;
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    backdrop-filter: blur(16px);
}